<script>
    var elements = document.getElementsByClassName('estimated-hours')
    function replace_with_link(){
		var old_value= elements[1].innerHTML
        elements[1].update('<a href="<%= list_estimate_updates_url(@issue) %>">'+old_value+'</a>');
    };
    
    document.observe('dom:loaded', function(){
        replace_with_link();
    });
</script>
