<script>
    var elements = $('td.estimated-hours');
    function replace_with_link(){
      var old_value = elements.html();
      elements.html('<a href="<%= list_estimate_updates_url(@issue) %>">' + old_value + '</a>');
    };
    
    $(document).ready( function(){
        replace_with_link();
    });
</script>
